@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap");
@import "tailwindcss";


@theme {
  --font-sans: "Montserrat", sans-serif;

  /* Custom Colors */
  --color-primary: #2E73D3;
  --color-background: #F8F8F8;
  --color-white: #FFFFFF;
  --color-dark: #151415;
  --color-card: #D9D9D9;
  --color-text: rgba(0, 0, 0, 0.6);
}

* {
  font-family: var(--font-sans);
}